#title{
    background-color: #ff4c68;
}


.big-heading{
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}


h2{
    font-family: "Montserrat" ;
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15% 20% 15%;
    
}

.second-container{
    padding: 10% 15%;
   
    
}

body{
    font-family: 'Montserrat';
}

section{
    color: #fff;    
}






.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    
}

.navbar{
    padding: 0 0 4.5rem;

}



.nav-item{
    padding: 0 18px;
    font-size: 1.2rem;
    font-family: 'Montserrat';
}




.download-button{
    margin: 5% 3% 5% 0%;
}

.title-image{
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    margin-top: 20px;
    margin-left: 80px;
   

}

#features{
    color: #000;
    text-align: center;
    background-color: #fff;
    position:relative;
    z-index: 1;
  
}





.iconic{
    color: #ef8172;
    margin: auto;

}

.iconic:hover {
    color: #ff4c68;
}

h3{
    color: #000;
    font-size: 1.5rem;
}

.features-subtext{
    color: #8f8f8f;
}

#testimonials{
    padding: 3% 15%;
    text-align: center;
    background-color: #ef8172;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 12%;
    margin: 20px 20px 50px;       
}





#pricing{
    padding: 3% 15%;
}
.card-title{
    color:#000;
    font-weight: bold;
}

.card-top{
    color:#000;
    text-align: center;
    font-family: 'Montserrat';

}

.card-mid{
    color:#8f8f8f;
    text-align: center;
    font-family: 'Montserrat';
}

.card-text{
    color:#8f8f8f;
    
}

.card-body{
    padding-bottom: 10%;
}

@media (max-width: 1028px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0deg);
        margin-left: 0px;
        width: 60%;
    }
}

/* Call For Action */
#cta{
    text-align: center;
    padding-bottom: 30px;
}
/* Footer */
#footer{
    text-align: center;
}